@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333333;
  font-family: 'Noto Serif JP', serif;
  line-height: 1.5;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  color: #000000;
}

header #top-wrap {
  width: 960px;
  height: 50px;
  margin: 0 auto;
}

header img {
  float: left;
  margin-top: 4px;
  vertical-align: bottom;
}

#top-page-wrapper {
  min-height: 100%
}

#centering {
  text-align: center;
}

#top-title {
  font-size: 60px;
  color: black;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
  padding-left: 378px;
  margin-top:30px;
  margin-bottom: 60px;
}

.top-title-center {
  margin-bottom: 100px;
}

.top-menu {
  text-align: center;
}

.top-menu li {
  font-weight: bold;
  display: inline-block;
  margin: 0 20px;
}

.top-menu-button a {
  font-size: 25px;
  color: #000000;
  text-decoration: none;
  opacity: 1;
  padding: 0 12px;
  -webkit-transition: .2s;
  transition: .2s;
}

.top-menu-button a:hover {
  color: #000000;
  text-decoration: none;
  background-color: #E5E5E5;
  box-shadow:0px 0px 3px rgba(100,100,100,0.2) inset;
}

#logo {
  font-size: 35px;
  padding-left: 10px;
  float: left;
  color: black;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
}

#top-margin {
  margin-bottom: 30px;
}

#main-nav {
  float: right;
}

#main-nav li {
  float: left;
  margin: 15px 25px 0 0;
  list-style: none;
  font-weight: bold;
}

#main-nav li a {
  color: #000000;
  padding: 0 10px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

#main-nav li a:hover {
  background-color: #E5E5E5;
  box-shadow:0px 0px 3px rgba(100,100,100,0.2) inset;
}

#main {
  width: 960px;
  margin: 0 auto;
}

#wrap {
  border-bottom: 1px solid #cccccc;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#blog-date {
  padding-top: 3px;
  font-size: 14px;
}

#blog-title {
  color: #000000;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 23px;
}

#blog-title a {
  color: #000000;
  text-decoration: none;
  opacity: 1;
}

#blog-title a:hover {
  color: #000000;
  opacity: 0.8;
}

#topic-info-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

#topic-title {
  font-size: 30px;
  margin: 0;
}

#topic-title-blogs {
  margin: 0 0 10px 0;
  padding-bottom: 20px;
  font-size: 30px;
  border-bottom: 1px solid #cccccc;
}

.topic-pic {
  width: 120px;
  float:left;
  padding: 20px 0 20px 0;
  margin: auto 25px auto 25px;
}

.topic-date {
  padding-top: 18px;
  line-height: 0.01;
  font-size: 14px;
}

.wrap-article {
  padding: 10px 0 10px 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 780px;
  float: left;
}

.topic-title {
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#tag-topic {
  padding-top: 5px;
  font-size: 14px;
  color: #ffffff;
}

#tag-part {
  display: inline-block;
  margin: 0 .3em 0 0;
  padding: 0;
}

#tag-part a {
  display: inline-block;
  max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

#tag-part a:hover {
  background-color: #E87929;
  border: 1px solid #E87929;
  color: #fff;
}

.topic-content {
  font-size: 15px;
}

#contents {
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}

.next-topic {
  padding-top: 20px;
  text-align: center;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}


@media screen and (max-width: 600px) {
/* 画面サイズが600px以下の場合に適用 */

  body {
    width: auto;
    font-size: 3.5vw;
  }

  header {
    width: auto;
  }

  header img {
    margin: 0 0 0 1%;
    float: none;
    width: 4%;
    vertical-align: sub;
  }

  #logo {
    font-size: 7vw;
    float: none;
    color: black;
    font-family: 'Acme', sans-serif;
    text-decoration: none;
  }

  #main-nav {
    float: none;
    font-size: 5vw;
  }

  #main-nav li {
    margin: 0 auto 0 2%;
  }

  #main {
    width: 100%;
    padding-top: 6%;
  }

  #topic-info-bottom {
    margin: 0 2% 0 2%;
  }

  #topic-title {
    font-size: 6vw;
  }

  #topic-title-blogs {
    font-size: 6vw;
    padding-left: 2%;
    padding-bottom: 6%;
    margin: 0 0 1% 0;
  }

  .topic-pic {
    float: left;
    padding: 3% 0 2% 0;
    margin: auto 3% auto 4%;
  }

  .wrap-article {
    padding: 1% 0 2% 0;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    float: left;
  }

  #blog-date {
    font-size: 2.8vw;
  }

  #blog-date-head {
    display: inline-block;
    margin-left: 2.5%;
  }

  #blog-title {
    font-size: 4.8vw;
    padding: 0;
  }

  #tags {
    display: inline-block;
  }

  #tag-part a {
    display: inline-block;
    max-width: auto;
    height: auto;
    line-height: auto;
    padding: 0 1em;
    margin: 0;
    font-size: 3vw;
    text-decoration: none;
  }

  #contents {
    margin: 0 2% 0 2%;
  }

  #contents p {
    font-size: 3vw;
  }

  #contents h2 {
    font-size: 5vw;
  }

  #contents h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0 0 3% 0;
  }

  #top-title {
    font-size: 11vw;
    color: black;
    font-family: 'Acme', sans-serif;
    text-decoration: none;
    text-align: center;
    padding-left: 0;
    margin-top: 8%;
    margin-bottom: 12%;
  }

  .top-menu li {
    margin: 0 2%;
  }

  footer {
    font-size: 3vw;
  }

  h1 {
    font-size: 7.2vw;
  }

  h2 {
    font-size: 6vw;
  }
}
